---
interface Props {
  label: string;
  title?: string;
}

const { label, title } = Astro.props;
---

<section class="cs-container">
  <div class="cs-section-inner">
    <div class="cs-section-header">
      {title && <h2 class="mb-5 tracking-[-0.0125em] cs-section-title">{title}</h2>}
    </div>
    <div class="typeset typeset-docs cs-section-body">
      <slot />
    </div>
  </div>
</section>

<style>
  .cs-section-inner {
    max-width: var(--max-width);
    margin: 4rem auto;
  }

  .cs-section-title {
    text-wrap: balance;
  }

.cs-section-body {
  max-width: 100%;
}

.cs-section-body :global(> p) {
  max-width: 100%;
}

@media (min-width: 768px) {
  .cs-section-body :global(> p) {
    max-width: 80%;
  }

  .cs-section-inner {
    margin: 5rem auto;
  }
}

@media (min-width: 1024px) {
  .cs-section-body :global(> p) {
    max-width: 66%;
  }

  .cs-section-inner {
    margin: 6rem auto;
  }
}
</style>
